<main class="mesProjets">
  <section>
    <div class="mesProjets_intro">
      <h2>Mes techno <button mat-icon-button color="primary">préférées !</button></h2>
    </div>
    <div class="mesProjets_logosTechno">
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/TS.svg" alt="TypeScript" title="TypeScript">
        <p>TypeScript</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/java18.png" alt="Java" title="Java">
        <p>Java</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/javascript.svg" alt="JavaScript" title="JavaScript">
        <p>JavaScript</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/nodejs.svg" alt="NodeJS" title="NodeJS">
        <p>NodeJS</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/html.svg" alt="Html5" title="Html5">
        <p>Html5</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/css3.svg" alt="CSS3" title="CSS3">
        <p>CSS3</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/sass.svg" alt="Sass" title="Sass">
        <p>Sass</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/git.svg" alt="GIT" title="GIT">
        <p>GIT</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/Mongo.svg" alt="MongoDB" title="MongoDB">
        <p>MongoDB</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/MySQL.svg" alt="MySQL" title="MySQL">
        <p>MySQL</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/figma.svg" alt="Figma" title="Figma">
        <p>Figma</p>
      </div>






    </div>


  </section>
  <section>
    <div class="mesProjets_cartes">

    </div>
  </section>


</main>
