<main class="mesProjets">
  <section>
    <div class="mesProjets_intro">
      <h2>Mes techno <button mat-icon-button color="primary">préférées !</button></h2>
    </div>
    <div class="mesProjets_logosTechno">
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/TS.svg" alt="TypeScript" title="TypeScript">
        <p>TypeScript</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/java-logo.svg" alt="Java" title="Java">
        <p>Java</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/javascript.svg" alt="JavaScript" title="JavaScript">
        <p>JavaScript</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/nodejs.svg" alt="NodeJS" title="NodeJS">
        <p>NodeJS</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/html.svg" alt="Html5" title="Html5">
        <p>Html5</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/css3.svg" alt="CSS3" title="CSS3">
        <p>CSS3</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/sass.svg" alt="Sass" title="Sass">
        <p>Sass</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/git.svg" alt="GIT" title="GIT">
        <p>GIT</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/Mongo.svg" alt="MongoDB" title="MongoDB">
        <p>MongoDB</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/MySQL.svg" alt="MySQL" title="MySQL">
        <p>MySQL</p>
      </div>
      <div class="mesProjets_logosTechno_groupeLogo">
        <img src="assets/images/techno/figma.svg" alt="Figma" title="Figma">
        <p>Figma</p>
      </div>
    </div>

  </section>
  <mat-toolbar color="primary" class="separateur"></mat-toolbar>
  <section>
    <div class="mesProjets_cartes">
      <mat-card class="mesProjets_cartes_card">
        <mat-card-header>

          <mat-card-title>Treecotage</mat-card-title>
          <mat-card-subtitle>Ne perdez plus le fil avec cette Appli Web.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/mesprojets/treecotage2.png" alt="Treecotage Appli Web" title="Treecotage Appli Web">
        <mat-card-content>
          <p>
            Treecotage est un projet conçu par Marine Granger, UX Designer et développé par moi. Je suis partie sur les techno NodeJS, Twig et MongoDB avant de repartir sur de l'Angular et du Java.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/Tomag56/Treecotage_Admin.git"><img src="assets/images/icone/github-sign.png" alt="présentation Treecotage"></a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="mesProjets_cartes_card">
        <mat-card-header>
          <mat-card-title>Portefolio</mat-card-title>
          <mat-card-subtitle>Développement d'un site en Angular 14</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/caricatureTG.png" alt="Treecotage Appli Web" title="Treecotage Appli Web" id="caricature">
        <mat-card-content>
          <p>
            J'ai développé ce site afin de pouvoir mettre en pratique mes différentes formations sur Angular et Scss.
          </p>
          <p>Attiré par le Front, j'aspire à développer mes compétences en Angular et/ou en ReactJS. </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/Tomag56/MonPremierSIteWeb.git"><img src="assets/images/icone/github-sign.png" ></a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="mesProjets_cartes_card">
        <mat-card-header>

          <mat-card-title>Projets ENI</mat-card-title>
          <mat-card-subtitle>Développement d'un site d'enchères</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/eni.png" alt="Treecotage Appli Web" title="Treecotage Appli Web" id="eni">
        <mat-card-content>
          <p>
            J'ai développé un site d'enchère dans le cadre de ma formation en Java et JSP. Je l'ai réalisé avec une architecture n/tier et les patterns Singleton et DAO. J'ai utilisé SQL Server en BDD et C3P0 et pool de connexion avec Tomcat 9.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/marinacha/ENI-Encheres"><img src="assets/images/icone/github-sign.png"  alt="Logo Eni "></a>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</main>
