@import '../../../../themeAngular/_variable';

.mesProjets{
  margin: 1em 6em;
  @media (max-width: 960px) {
    margin: 1em;
  }
  .separateur{
    height: 0.1em;
    margin : 3em 0;
    @media (max-width: 650px) {
      margin: 2em 0;
    }
  }
  section{
    @include section-projet
  }
  &_intro{
    h2{
      @include h2-projet;
      @media (max-width: 960px) {
        font-size: 1.7em;
      }
    }
    button{
      @include colorTexte;
      @media (max-width: 960px) {
        font-size: 1em;
      }
    }
    p{
      @include texte;
      @include texteMobile;
      font-size: 1.2em;
    }
  }
  &_logosTechno{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    &_groupeLogo{
      margin: 1em 3em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        width: 7em;
        height: 7em;
      }
      p{
        text-align: center;
        height: 8em;
      }
    }
  }
  &_cartes{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    &_card{
      max-width: 24em;
      //min-height: 44em;
      margin-bottom: 3em;
      img{

      }
     #caricature{
       width: 18em;
       margin: auto;
     }
      #eni{
        width: 24em;

      }
      a{
        img{
          width: 4em;
        }
      }
    }
  }
}
