.home{
  margin: 65px;
  display: flex;
  justify-content: space-around;
  &_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 450px;

    h1{
      color: white;
      font-size: 50px;
      min-width: 750px;
      font-weight: 600;
      letter-spacing: 4px;
      line-height: 32px;

      span{
        color: #e91e63;
      }
    }
    p{
      font-size: 25px;
      font-weight: 500;
      color: white;
      max-width: 650px;
      line-height: 32px;

    }
    button{
      width: 180px;
      height: 50px;
      margin-right: 30px;
    }
  }
  &_right{
    img{
      max-height: 450px;
    }
  }
}

