@import '../../../../themeAngular/_variable';

.home{
  margin: 0;
  display: flex;
  justify-content: space-around;


  &_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 450px;

    h1{
      min-width: 750px;
      font-size: 3.5em;
      @include h1intro;

      button{

       @include colorTexte;
        cursor: none;
        font-size: 1.1em;
        font-weight: 600;
        letter-spacing: 4px;

      }
    }
    p{
      @include texte;
      max-width: 650px;

    }
    button{
      width: 180px;
      height: 50px;
      margin-right: 30px;
    }
  }

  &_right{
    img{
      max-height: 450px;
    }
  }
  @media (max-width: 1200px){
    margin: 30px 10px;
    justify-content: space-evenly;


    &_left{
      margin: 50px 30px;
      h1{
        margin-bottom: 20px;
        font-size: 3em;
        min-width: initial;
        max-width: 400px;

      }
      &_imageMediaQ{
         display: flex;
        img{
          width: 150px;
        }
       }
      p{
        margin: 70px 0;
        text-align: justify;
        max-width: 800px;
        font-size: 1.3em
      }
      .home_left_btn{
        display: flex;
        justify-content: center;
      }
    }
    &_right{
     display: none;
    }
  }
}

