<div class="home">
  <div class="home_left">
    <h1>Développeur Web <span class="wt" color="primary">Junior</span></h1>
    <p>Autodidacte et passionné par l’IT, j’ai travaillé 10 ans sur des fonctions commerciales dans ce secteur  avant d’entreprendre de me reconvertir sur la technique. </p>
  <div class="home_left_btn">
    <button routerLink="/mon-parcours" mat-raised-button color="primary">Mon Parcours</button>
    <button  mat-raised-button color="accent">Mes Projets</button>

  </div>
  </div>

<div class="home_right">
  <img src="assets/images/caricatureTG.png" alt="caricature" title="caricature">
 </div>

</div>
