<header>
  <mat-toolbar color="primary">
      <mat-toolbar-row class="toolbar" >
        <div class="toolbar_partUn"><button href="#" mat-icon-button aria-label="Icon Home">
          <mat-icon routerLink="">home</mat-icon>
        </button><span>{{name}}</span>
        </div>
        <div class="toolbar_partDeux">
          <ul>
            <li><a routerLink="/mon-parcours"><button mat-raised-button class="btn" color="accent">{{parcours}}</button></a></li>
            <li><a routerLink="/"><button mat-raised-button class="btn" color="accent">{{travaux}}</button></a></li>
            <li><a><button mat-raised-button class="btn" color="accent">{{contacter}}</button></a></li>
          </ul>
        </div>
        <div class="toolbar_switchLight">
          <mat-slide-toggle [(ngModel)]="isChecked"><mat-icon>light</mat-icon>{{isChecked}}</mat-slide-toggle>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
</header>





