
.page{
  min-height:100vh;
  display:flex; /* 2 */
  flex-direction:column; /* 3 */


  .content {
    flex-grow:1;
    padding-top: 40px;
  }
}

.sidenav_conteneur {
  width: 13em;
  display: flex;
  flex-direction: column;
  button{
    margin: 5px;
  }
 }
