.page{
  min-height:100vh;
  display:flex; /* 2 */
  flex-direction:column; /* 3 */
  .content {

    flex-grow:1;

  }
}
.sidenav_conteneur {
  width: 13em;
  display: flex;
  flex-direction: column;
  button{
    margin: 5px;
  }
 }


header{
  .toolbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    &_partUn{
      display: flex;
      justify-content: center;
      align-content: center;
      letter-spacing: 2px;
      span{
        margin: auto 0;
      }
      &_menu{
        display: none;
        @media (max-width: 959px) {
          display: block;
        }
      }
    }
    &_partDeux{
      display: flex;
      justify-content: center;
      align-content: center;
      ul{
        list-style: none;
        li{
          display: inline-block;
          margin: 0 25px;
        }
      }
    }
  }
}

footer{
  margin-top: 2em;
  @media (max-width: 650px) {
    margin-top: 1em;
  }
}

