<mat-sidenav-container >
  <mat-sidenav #sidenav mode="over" >
          <div class="sidenav_conteneur">
            <button type="button" mat-raised-button color="primary" routerLink="">
              Home
            </button>
            <button type="button" mat-raised-button color="primary" routerLink="/mon-parcours">
              Mon Parcours
            </button>
            <button type="button" mat-raised-button color="primary" routerLink="/mes-projets" >
              Mes Projets
            </button>
            <button type="button" mat-raised-button color="primary" routerLink="/Contact">
              Contact
            </button>
          </div>
  </mat-sidenav>
  <mat-sidenav-content class="page">
    <header>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>


