<main class="contact">
  <section>
  <div class="contact_intro" >
    <h2>En recherche d'un <button mat-icon-button color="primary">Stage !</button></h2>

      <p>Après 10 ans à travailler sur des fonctions commerciales dans un secteur IT (ESN, Start Up), je me suis enfin décidé à passer du coté de la technique et devenir Développeur Web Junior. Je passe mon diplome au sein de l'ENI et je travaille en parallèle sur plusieurs projets en NodeJS, Angular12 et Java18.</p>
      <p>Voici un résumé de mon parcours !</p>

  </div>
  </section>
  <section>
    <div class="contact_liste">
      <div class="contact_liste_info">
        <mat-card>
          <mat-list>
            <div class="contact_liste_info_ligne">
              <a href="mailto:thomas.granger2@gmail.com"><mat-icon color="primary">mail</mat-icon></a>
              <p>thomas.granger2@gmail.com</p>
            </div>
            <mat-divider></mat-divider>
            <div class="contact_liste_info_ligne">
              <mat-icon color="primary">call</mat-icon>
              <p>06-82-14-90-61</p>
            </div>
            <mat-divider></mat-divider>
            <div class="contact_liste_info_ligne">
              <mat-icon color="primary">home-pin</mat-icon>
              <p>Localisation : Nantes</p>
            </div>
          </mat-list>
        </mat-card>
      </div>
      <div class="contact_liste_image">
        <img src="assets/images/caricatureTG.png" alt="caricature" title="caricature">
      </div>
    </div>


  </section>
</main>


