@import '../../../../themeAngular/_variable';

.contact{
  margin: 1em 6em;
  @media (max-width: 960px) {
    margin: 1em;
  }
  section{
    @include section-projet;
  }
  &_intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
      @include h2-projet;
      @media (max-width: 960px) {
        font-size: 1.7em;
      }
    }
    button{
      @include colorTexte;
      @media (max-width: 960px) {
        font-size: 1em;
      }
    }
    p{
      @include texte;
      @include texteMobile;
      font-size: 1.2em;
    }
  }
  &_liste{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &_info{
      min-width: 25em;
      margin: 1.7em;
      &_ligne{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2em 0;
        font-size: 1.3em;

      }
      p{
        margin: 0;
      }
      a{
        margin: 0;
      }
    }
    &_image{
      img{
        width: 20em;
      }


    }
  }

}
