@import '../../../../themeAngular/_variable';

.parcours{
  margin: 1em 6em;
  @media (max-width: 960px) {
    margin: 1em;
  }
  mat-toolbar{
  height: 0.1em;
  }
  h3{
    @include h3-projet;
  }
  section{
    @include section-projet
  }
  &_intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h2{
      @include h2-projet;
      @media (max-width: 960px) {
        font-size: 1.7em;
      }
    }
    button{
      @include colorTexte;

      @media (max-width: 960px) {
        font-size: 1em;
      }
    }

    p{
      @include texte;
      @include texteMobile;
      font-size: 1.2em;
    }
  }
  &_experience{
    &_labelle{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &_texte{
        p{
          font-size: 1.1em;
          line-height:1.3em;
        }

        &_date{
          display: flex;
          align-items: center;
          justify-content: start;
          button{
            font-weight: bold;
            font-size: 1.3em;
          }
          svg{
            margin: 0 1em;
          }

        }
        iframe{
          width:560px;
          height: 315px;
          font-size: 1.1em;
        }
      p{
        text-align: justify;
      }
        @media (max-width: 650px) {
          &_date{
            justify-content: center;
          }
        }
    }
      .app-elle{
       display: flex;
       justify-content: space-between;
       align-items: center;
       img{
         width: 8em;
       }
     }
      @media (max-width: 900px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        .app-elle{
          flex-direction: column;
          iframe{
            width:300px;
            height: 168px;
          }
        }

      }
      &_logo{
        justify-content: center;
        img{
          width: 13em;
          margin: 1em 5em 1em 3em;

        }
      }
    }
  }
  &_formation{
    &_header{
      height: 4em;
      font-weight: 500;
    }
    &_description{
      display: flex;
      justify-content: end;
      img{
        width: 3em;
        margin-left: 1.5em;
      }
    }
    .mat-expansion-panel{
      p{
        span{
          font-weight: 500;
        }
      }
    }
    &_contenu{
      &_specifique{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 1em;

        img{
          width: 12em;
        }
      }
    }

  }
}
