<main class="parcours">
  <section >
    <div class="parcours_intro" >
      <h2> Dans l’IT depuis <button mat-icon-button color="primary">10 ans !</button></h2>
      <mat-card color="primary"><p>Après 10 ans à travailler sur des fonctions commerciales dans un secteur IT (ESN, Start Up), je me suis enfin décidé à passer du coté de la technique et devenir Développeur Web Junior. Je passe mon diplome au sein de l'ENI et je travaille en parallèle sur plusieurs projets en NodeJS, Angular12 et Java18.</p>
        <p>Voici un résumé de mon parcours ! </p></mat-card>
    </div>
  </section>
  <mat-toolbar color="primary" class="separateur">

  </mat-toolbar>
  <section class="parcours_experience"><h3>Mes expériences <button mat-icon-button color="primary">professionnelles</button></h3>
    <mat-card>
      <mat-tab-group>
        <mat-tab label="ACII">
          <div class="parcours_experience_labelle">
            <div class="parcours_experience_labelle_texte">
              <div class="parcours_experience_labelle_texte_date">
                <button mat-icon-button color="primary">2016</button>
                <svg xmlns="http://www.w3.org/2000/svg"  height="48" width="48"><path d="m35.1 32.95-2.15-2.1 5.3-5.3H6v-3h32.3l-5.3-5.3 2.1-2.1 8.9 8.9Z"/></svg>
                <button mat-icon-button color="primary">2022</button>
              </div>
              <p></p>
              <p>
                Ingénieur d'Affaire pour une ESN Nantaise, je développe et fidélise un porte-feuille de clients Grand Compte et manage une équipe de 30 développeurs séniors et confirmés sur les technologies Java, Angular, C#, NodeJS...
              </p>
              <p>
                Team Leader RSE, je participe au développement éthique et humain de la société.
              </p>
              <p>
                Pour finir,  j’ai réalisé plusieurs supports de communication pour le DevFest Nantes notamment (Figma, Illustrator).
              </p>
            </div>
            <div class="parcours_experience_labelle_logo">
              <a href="https://www.acii.fr//">
                <img src="assets/images/Logo_ACII.jpg" alt="ACII">
              </a>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Odiwi">
          <div class="parcours_experience_labelle">
            <div class="parcours_experience_labelle_texte">
              <div class="parcours_experience_labelle_texte_date">
                <button mat-icon-button color="primary">2015</button>
                <svg xmlns="http://www.w3.org/2000/svg" color="primary" height="48" width="48"><path d="m35.1 32.95-2.15-2.1 5.3-5.3H6v-3h32.3l-5.3-5.3 2.1-2.1 8.9 8.9Z"/></svg>
                <button mat-icon-button color="primary">2016</button>
              </div>
              <p></p>
              <p>
                Business Développeur, je proposai à mes clients la création d'applications Web et Mobile. J'assurais le cadrage et le suivi du projet.
              </p>
              <p>
                J'ai notamment contribué à la réalisation de l'Application App-Elles®, La 1ère application française
                solidaire des femmes victimes de violences.
              </p>
              <div class="app-elle">
                <a href="https://app-elles.fr/"><img src="assets/images/appelles.png" alt="App-Elles"></a>
                <iframe src="https://www.youtube.com/embed/tU_slgPyjXM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div class="parcours_experience_labelle_logo">
              <a href="https://www.odiwi.com/">
                <img src="assets/images/logoodiwi.webp" alt="Odiwi">
              </a>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Bull">
          <div class="parcours_experience_labelle">
            <div class="parcours_experience_labelle_texte">
              <div class="parcours_experience_labelle_texte_date">
                <button mat-icon-button color="primary">2012</button>
                <svg xmlns="http://www.w3.org/2000/svg" color="primary" height="48" width="48"><path d="m35.1 32.95-2.15-2.1 5.3-5.3H6v-3h32.3l-5.3-5.3 2.1-2.1 8.9 8.9Z"/></svg>
                <button mat-icon-button color="primary">2015</button>
              </div>
              <p>
                Ingénieur Avant Vente Junior, je propose les services d'un centre de support logiciel.
              </p>
              <p>
                Ce centre est composé d'une équipe de 40 Ingénieurs IT sur les technologies Microsoft, Open Source, BO, Informatica...
                Je découvre alors le monde de l'informatique et son langage.
              </p>
            </div>
            <div class="parcours_experience_labelle_logo">
              <a href="https://www.atos.com/">
                <img src="assets/images/BullAtosTechnologies.png" alt="Bull">
              </a>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

  </section>

  <mat-toolbar color="primary" class="separateur"></mat-toolbar>

  <section>
    <div class="parcours_formation">
      <h3>Mes études &  <button mat-icon-button color="primary">formation</button></h3>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
          <mat-expansion-panel-header class="parcours_formation_header" >
            <mat-panel-title>
              Formation Développeur Web et Web Mobile
            </mat-panel-title>
            <mat-panel-description class="parcours_formation_description">
              <p fxHide.lt-md>ENI</p>
              <img src="assets/images/eni.png" alt="Eni">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p></p>
          <p>Préparation au titre «Développeur Web et Web Mobile » homologué par l’Etat, niveau 5 (Bac +2). La formation se déroule du 31 Mai 2022 au 13 Janvier 2023. </p>
          <p><span>Langage : </span>Java 11, PHP 7, XML, SQL, PL/SQL, HTML5, CSS3, JavaScript</p>
          <p><span>Plateformes / Framework : </span>Java SE et EE (Tomcat), Symfony 4.4 (WAMP ou LAMP), mobile avec
          <p><span>Bases de données : </span>SQL Server, Oracle DataBase, MySQL </p>
          <p><span>Méthodes : </span>Modélisation des données (Oracle CDM) et Méthode de Développement Agile (Scrum), UML (Unified Modeling Language)</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="parcours_formation_header">
            <mat-panel-title>
              Formation Back & Front End
            </mat-panel-title>
            <mat-panel-description class="parcours_formation_description">
              <p fxHide.lt-md> OpenClassrooms</p>
              <img src="assets/images/openclassrooms.jpg" alt="Eni">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p></p>
          <p>OpenClassrooms est un site de j'affectionne particulierement puisqu'il m'a permit de me lancer dans ce metier en Autodidacte. J'ai cumulé plus de 100 heures de cours et c'est pas fini ! Voici un recapitulatif de toutes les formations qui m'ont fait progresser depuis 2020 : </p>
          <div class="parcours_formation_contenu">
            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
              <p><span> Apprenez à créer votre site web avec HTML5 et CSS3</span></p>
              <p>20 heures de formation avec création d'un site web. Certification validée.</p>
              </div>
              <a href="https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3"><img fxHide.lt-sm src="https://oc-course.imgix.net/courses/1603881/1603881_teaser_picture_1646430861.jpg?auto=compress,format&q=80" alt="OpenClassrooms" title="Accéder au cours"></a>
            </div>

            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
                <p><span> Apprenez à programmer avec JavaScript</span></p>
                <p>15 heures de formation sur les bases de JavaScript avec passage de la certification.</p>
              </div>
              <a href="https://openclassrooms.com/fr/courses/6175841-apprenez-a-programmer-avec-javascript"><img fxHide.lt-sm src="https://oc-course.imgix.net/courses/6175841/6175841_teaser_picture_1617092189.jpg?auto=compress,format&q=80" alt="OpenClassrooms" title="Accéder au cours"></a>

            </div>

            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
                <p><span>Écrivez du JavaScript pour le web</span></p>
                <p>12 heures de formation afin de manipuler le DOM et créer des pages dynamiques. Certification validée.  </p>
              </div>
              <a href="https://openclassrooms.com/fr/courses/5543061-ecrivez-du-javascript-pour-le-web"><img fxHide.lt-sm src="https://oc-course.imgix.net/courses/5543061/5543061_teaser_picture_1619091656.jpg?auto=compress,format&q=80" alt="OpenClassrooms" title="Accéder au cours"></a>
            </div>

            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
                <p><span>Passez au Full Stack avec Node.js, Express et MongoDB</span></p>
                <p>10 heures de formation pour découvrir NodeJS, Express et MondoDB. Création d'une application back end dans le but de réaliser un projet personnel Full Stack.  </p>
              </div>
              <a href="https://openclassrooms.com/fr/courses/6390246-passez-au-full-stack-avec-node-js-express-et-mongodb/exercises/3732"><img fxHide.lt-sm src="https://oc-course.imgix.net/courses/6390246/6390246_teaser_picture_1656315148.jpg?auto=compress,format&q=80" alt="OpenClassrooms" title="Accéder au cours"></a>
            </div>

            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
                <p><span>Formation Débuter + Complétez vos connaissances sur Angular</span></p>
                <p>10 heures et 8 heures de formation afin de manipuler le DOM et créer des pages dynamiques. Certification validée.  </p>
              </div>

              <a href="https://openclassrooms.com/fr/courses/7471271-completez-vos-connaissances-sur-angular/7549501-evitez-les-fuites-de-memoire-avec-des-strategies-de-unsubscribe"><img fxHide.lt-sm src="https://oc-course.imgix.net/courses/7471271/7471271_teaser_picture_1646673047.jpg?auto=compress,format&q=80" alt="OpenClassrooms" title="Accéder au cours"></a>
            </div>

            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
                <p><span>Simplifiez-vous le CSS avec Sass</span></p>
                <p>15 heures de formation afin d'organiser et maitriser le SCSS. Certification validée.  </p>
              </div>
              <a href="https://openclassrooms.com/fr/courses/6106181-simplifiez-vous-le-css-avec-sass"><img fxHide.lt-sm src="https://oc-course.imgix.net/courses/6106181/6106181_teaser_picture_1618818510.jpg?auto=compress,format&q=80" alt="OpenClassrooms" title="Accéder au cours"></a>
            </div>


          </div>
         </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
          <mat-expansion-panel-header class="parcours_formation_header">
            <mat-panel-title>
              Formation Back & Front End
            </mat-panel-title>
            <mat-panel-description class="parcours_formation_description">
              <p fxHide.lt-md>Udemy</p>
              <img id="udemy_logo" src="assets/images/Udemy.png" alt="Eni">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="parcours_formation_contenu">
            <p>Préparation au titre «Développeur Web et Web Mobile » homologué par l’Etat, niveau 5 (Bac +2) .</p>

            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
                <p><span>HTML5 et CSS3 : la formation ULTIME</span></p>
                <p>10 heures de formation pour revoir les bases du HTML et CSS. Certification validée.  </p>
              </div>
              <a href="https://www.udemy.com/course/html5-et-css3-la-formation-ultime/learn/lecture/13202644?start=15#overview"><img  fxHide.lt-sm src="assets/images/Udemy/HTML%20CSS%20Louis.png" alt="OpenClassrooms">
              </a></div>

            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
                <p><span>JavaScript : la formation ULTIME</span></p>
                <p>15 heures de formation accompagnés de projets et d'exercices. Certification validée.  </p>
              </div>
              <a href="https://www.udemy.com/course/javascript-la-formation-ultime/learn/lecture/17264552?start=0#overview"><img fxHide.lt-sm src="assets/images/Udemy/JS%20Louis.png" alt="OpenClassrooms"></a>
            </div>

            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
                <p><span>Passez au Full stack avec Node.js, Express et MongoDB (2022)</span></p>
                <p>60 heures de formation pour étudier un cursus général complété par deux spécialisations. UNe spécialité Back End avec NodeJS, Express,Mongo et l'autre Frontend avec Angular.  </p>
              </div>
              <a href="https://www.udemy.com/course/passez-au-full-stack-avec-nodejs-express-et-mongodb-2021/learn/lecture/24883140?start=0#overview"><img fxHide.lt-sm src="assets/images/Udemy/NodeJs.png" alt="OpenClassrooms">
              </a></div>

            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
                <p><span>SASS & SCSS : la formation ULTIME</span></p>
                <p>8 heures de formation afin d'organiser et maitriser le SCSS. Certification validée.  </p>
              </div>
              <a href="https://www.udemy.com/course/sass-scss-la-formation-ultime/learn/lecture/12706363?start=15#overview"><img fxHide.lt-sm src="assets/images/Udemy/Sass%20Louis.png" alt="OpenClassrooms"></a>
            </div>

            <div class="parcours_formation_contenu_specifique">
              <div class="parcours_formation_contenu_specifique_texte">
                <p><span>Formation Git et GitHub: de Débutant à Confirmé</span></p>
                <p>3 heures de formation pour maitriser l'univers du push et du commit. Certification validée.  </p>
              </div>
              <a href="https://www.udemy.com/course/formation-git-github/learn/lecture/10289214?start=0#overview"><img fxHide.lt-sm src="assets/images/Udemy/img.png" alt="OpenClassrooms"></a>
            </div>


          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </section>

</main>

