<main class="parcours">
  <section >
    <div class="parcours_intro" >
      <h2> Dans l’IT depuis <button mat-icon-button color="primary">10 ans !</button></h2>
      <mat-card color="primary"><p>Après 10 ans à travailler sur des fonctions commerciales dans un secteur IT (ESN, Start Up), je me suis enfin décidé à passer du coté de la technique et devenir Développeur Web Junior. Je passe mon diplome au sein de l'ENI et je travaille en parallèle sur plusieurs projets en NodeJS, Angular12 et Java18.</p>
        <p>Voici un résumé de mon parcours ! </p></mat-card>
    </div>
  </section>
  <mat-toolbar color="primary">

  </mat-toolbar>
  <section class="parcours_experience">
    <h3>Mes expériences <button mat-icon-button color="primary">professionnelles             </button>                  </h3>
    <mat-tab-group>
      <mat-tab label="ACII">
        <div class="parcours_experience_labelle">
          <div class="parcours_experience_labelle_texte">
            <div class="parcours_experience_labelle_texte_date">
              <button mat-icon-button color="primary">2016</button>
              <svg xmlns="http://www.w3.org/2000/svg"  height="48" width="48"><path d="m35.1 32.95-2.15-2.1 5.3-5.3H6v-3h32.3l-5.3-5.3 2.1-2.1 8.9 8.9Z"/></svg>
              <button mat-icon-button color="primary">2022</button>
            </div>
            <p></p>
            <p>
              Ingénieur d'Affaire pour l'une ESN Nantaise, je développe et fidélise un porte-feuille de client Grand Compte et manage une équipe de 30 développeurs séniors et confirmés sur les technologies Java, Angular, C#, NodeJS...
            </p>
            <p>
              Team Leader RSE, je participe au développement éthique et humain de la société.
            </p>
            <p>
              Pour finir,  j’ai réalisé plusieurs supports de communication avec la suite Adode pour le DevFest Nantes notamment.
            </p>
          </div>
          <div class="parcours_experience_labelle_logo">
            <a href="https://www.acii.fr//">
            <img src="assets/images/Logo_ACII.jpg" alt="ACII">
            </a>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Odiwi">
        <div class="parcours_experience_labelle">
          <div class="parcours_experience_labelle_texte">
            <div class="parcours_experience_labelle_texte_date">
              <button mat-icon-button color="primary">2015</button>
              <svg xmlns="http://www.w3.org/2000/svg" color="primary" height="48" width="48"><path d="m35.1 32.95-2.15-2.1 5.3-5.3H6v-3h32.3l-5.3-5.3 2.1-2.1 8.9 8.9Z"/></svg>
              <button mat-icon-button color="primary">2016</button>
            </div>
            <p></p>
            <p>
              Business Développeur, je proposai à mes clients la création d'applications Web et Mobile. J'assurais le cadrage et le suivi du projet.
            </p>
            <p>
              J'ai notamment contribué à la réalisation de l'Application App-Elles®, La 1ère application française
              solidaire des femmes victimes de violences.
            </p>
            <div class="app-elle">
              <a href="https://app-elles.fr/"><img src="assets/images/appelles.png" alt="App-Elles"></a>
                <iframe src="https://www.youtube.com/embed/tU_slgPyjXM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
          <div class="parcours_experience_labelle_logo">
            <a href="https://www.odiwi.com/">
              <img src="assets/images/logoodiwi.webp" alt="Odiwi">
            </a>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Bull">
        <div class="parcours_experience_labelle">
          <div class="parcours_experience_labelle_texte">
            <div class="parcours_experience_labelle_texte_date">
              <button mat-icon-button color="primary">2012</button>
             <svg xmlns="http://www.w3.org/2000/svg" color="primary" height="48" width="48"><path d="m35.1 32.95-2.15-2.1 5.3-5.3H6v-3h32.3l-5.3-5.3 2.1-2.1 8.9 8.9Z"/></svg>
              <button mat-icon-button color="primary">2015</button>
            </div>

            <p>
              Ingénieur Avant Vente Junior, je propose les services d'un centre de support logiciel.
            </p>
            <p>
              Ce centre est composé d'une équipe de 40 Ingénieurs IT sur les technologies Microsoft, Open Source, BO, Informatica...
              Je découvre alors le monde de l'informatique et son langage.
            </p>
          </div>
          <div class="parcours_experience_labelle_logo">
            <a href="https://www.atos.com/">
              <img src="assets/images/BullAtosTechnologies.png" alt="Bull">
            </a>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
  <mat-toolbar color="primary"></mat-toolbar>
  <section>
      <h3>Mes études &  <button mat-icon-button color="primary">formation</button></h3>


    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Formation Développeur Web et Web Mobile, ENI Ecole informatique Nantes.
        </mat-panel-title>
        <mat-panel-description>
          fin de formation début 2023
          <img src="assets/images/appelles.png" alt="Eni">
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Préparation au titre «Développeur Web et Web Mobile » homologué par l’Etat, niveau 5 (Bac +2) .</p>
    </mat-expansion-panel>
  </section>

</main>

