footer{
  mat-toolbar{
    mat-toolbar-row{

      justify-content: center;
      ul{
        li{
          list-style: none;
          display: inline-block;
          margin-right: 3em;
          i{
            color: #e91e63;
          }
          }
      }
    }
  }
}
