  <mat-toolbar color="accent"  >
    <mat-toolbar-row class="footer">

      <div class="footer_icone">
        <a href="https://github.com/Tomag56">
          <img src="./assets/images/GitHubLight.png" alt="GitHub" >
        </a>
      </div>
      <div class="footer_icone">
        <a href="https://www.linkedin.com/in/thomas-granger-9183a9a3/">
          <img src="./assets/images/002-linkedin.png" alt="LinkeIn" >
        </a>
      </div>
      <div class="footer_icone">
        <a href="mailto:thomas.granger2@gmail.com">
          <img src="./assets/images/gmail.png" alt="Mail" >
        </a>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
