@import '../../../../themeAngular/_variable';

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
margin-top: 0.7em;
    &_icone{
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 2em;
       align-items: center;
      }
      a{
        margin: 0;
        padding: 0;
      }


    }
  }
